BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ו",Arial,Helvetica,sans-serif; BACKGROUND: url(bg.gif) #d8f4cc repeat-x; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
A:link {
	COLOR: #005500; TEXT-DECORATION: none
}
A:visited {
	COLOR: #005500; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
#daohang A:link {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
#daohang A:visited {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
#daohang A:hover {
	COLOR: #ffff00; TEXT-DECORATION: none
}
#getcdkmain A:link {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
A:visited {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#getcdkmain A:hover {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #ff0000; COLOR: #ffff00; TEXT-DECORATION: none; PADDING-TOP: 4px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 2px; MARGIN: 20px 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
HR {
	HEIGHT: 2px; COLOR: #009900
}
.conment {
	POSITION: relative; MARGIN: 10px auto; WIDTH: 900px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-BOTTOM: #ffff00 1px solid; BORDER-LEFT: #ffff00 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; BACKGROUND: #ff0033; COLOR: #ffff00; FONT-SIZE: 14px; BORDER-TOP: #ffff00 1px solid; BORDER-RIGHT: #ffff00 1px solid; PADDING-TOP: 3px
}
#logo {
	TEXT-ALIGN: left; WIDTH: 760px; MARGIN-BOTTOM: 5px
}
#daohang {
	BACKGROUND: url(bg_daohang.gif) repeat-x; HEIGHT: 22px; COLOR: #007700; PADDING-TOP: 8px
}
#guanggao {
	MARGIN: 5px auto; BACKGROUND: #fff
}
#font0 {
	COLOR: #0000ff; FONT-SIZE: 12px
}
#font1 {
	COLOR: #ff0000
}
#font2 {
	COLOR: #ffffff
}
#font3 {
	COLOR: #ff0000; FONT-SIZE: 16px
}
#font1916 {
	COLOR: #ff0000; FONT-SIZE: 18px
}
#font4 {
	FONT-FAMILY: Arial, Helvetica; COLOR: #0000ff; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
#copyright {
	TEXT-ALIGN: center; WIDTH: 760px; HEIGHT: 70px; COLOR: #666; BORDER-TOP: #999 1px solid
}
#footdaohang {
	BORDER-BOTTOM: #ccc 1px solid; MARGIN-TOP: 3px; MARGIN-BOTTOM: 10px
}
.wzmb TABLE {
	BORDER-COLLAPSE: collapse
}
#getcdk TABLE {
	BORDER-COLLAPSE: collapse
}
.wzmb TD {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BACKGROUND: #ebf6fb; HEIGHT: 17px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
#getcdk TD {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BACKGROUND: #ebf6fb; HEIGHT: 17px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.wzmb TH {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #ffffff; COLOR: #000000; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
#getcdk TH {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #ffffff; COLOR: #000000; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: none; MARGIN: 0px 8px
}
#daohang LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 14px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px
}
.wzmb H1 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #009900; COLOR: #fff; FONT-SIZE: 18px; PADDING-TOP: 8px
}
H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #009900; COLOR: #fff; FONT-SIZE: 18px; PADDING-TOP: 8px
}
H1 {
	PADDING-BOTTOM: 3px; MARGIN: 10px 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: url(line.gif) repeat-x; COLOR: #fff; FONT-SIZE: 14px; PADDING-TOP: 3px
}
#getcdkmain {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 15px; MARGIN: 10px auto auto; PADDING-LEFT: 10px; WIDTH: 870px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
#getcdk {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px auto auto; PADDING-LEFT: 10px; WIDTH: 730px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
#tggg {
	BORDER-BOTTOM: #009900 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #009900 1px solid; PADDING-BOTTOM: 3px; MARGIN: 5px auto; PADDING-LEFT: 3px; WIDTH: 722px; PADDING-RIGHT: 3px; BACKGROUND: #fff; COLOR: #ff0000; FONT-SIZE: 14px; BORDER-TOP: #009900 1px solid; BORDER-RIGHT: #009900 1px solid; PADDING-TOP: 3px
}
.wzmb {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN: 10px auto; PADDING-LEFT: 10px; WIDTH: 730px; PADDING-RIGHT: 10px; BACKGROUND: #fff; LETTER-SPACING: 1px; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
#wbimage {
	BORDER-BOTTOM: #333 1px solid; BORDER-LEFT: #333 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #333 1px solid; BORDER-RIGHT: #333 1px solid; PADDING-TOP: 3px
}
.kjlq {
	BORDER-BOTTOM: #009900 1px dotted; TEXT-ALIGN: left; MARGIN-TOP: 3px; BACKGROUND: #eff; COLOR: #ff0000
}
.fenge {
	MARGIN: 10px 0px; WIDTH: 760px; BACKGROUND: #009900; HEIGHT: 10px
}
.sybt {
	PADDING-BOTTOM: 2px; MARGIN: 15px 0px 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: #cdfeb8; COLOR: #006600; FONT-SIZE: 14px; BORDER-TOP: #00cc00 3px solid; PADDING-TOP: 4px
}
.wzbt {
	PADDING-BOTTOM: 5px; MARGIN: 10px auto; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e4fdd9; COLOR: #ff0000; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.sylb {
	TEXT-ALIGN: center
}
